
<div class="modal-header bg-dark text-white">
  <h4 class="modal-title" id="modal-basic-title">Assign</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeRef.hide('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="userForm" (ngSubmit)="assignNewUser()">
    <div class="form-group">
      <label class="col-form-label">User:</label>
      <input type="text" class="form-control" formControlName="assigned"
             placeholder="Assignee name"
             [ngbTypeahead]="searchUser"
             [resultTemplate]="templateUser"
             [inputFormatter]="formatterUser">
      <div class="alert alert-danger"
           *ngIf="userForm.controls['assigned'].invalid && userForm.controls['assigned'].touched">
        <div *ngIf="userForm.controls['assigned'].errors['required']">
          Empty Name
        </div>
        <div *ngIf="userForm.controls['assigned'].errors['validUser']">
          User Not Found
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark text-white" [disabled]="userForm.invalid" (click)=assignNewUser()>Assign</button>
    </div>
  </form>
</div>

<ng-template #templateUser let-r="result" let-t="term">
  {{r.firstName}} {{r.secondName}}
</ng-template>
