
<div class="modal-header bg-dark text-white">
  <h4 class="modal-title" id="modal-basic-title">Edit Task</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeRef.hide('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label class="col-form-label">Description:</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label class="col-form-label">Priority:</label>
      <div class="form-group">
        <select class="custom-select d-block" id="role" required="">
          <option value="">blocker</option>
          <option>critical</option>
          <option>major</option>
          <option>normal</option>
          <option>minor</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label">Due Data:</label>
      <div class="input-group">
        <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">Change</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label">Estmation:</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label class="col-form-label">Assigne:</label>
      <input type="text" class="form-control">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark text-white" (click)="activeRef.hide('Save click')">Edit</button>
</div>
