<div>
  <div class="bg-secondary text-white pl-3"><h2>Description</h2></div>
  <br/>
  <div class="mx-auto my-4">
    <button class="btn btn-dark ml-4 px-4  mx-3" [disabled]="!isAssigneeAndReporter()" (click)=openModal(edit)>Edit</button>
    <button class="btn btn-dark ml-4 px-4  mx-3" [disabled]="!(isAssigneeAndReporter() ||(isTester() && status == 4) )" (click)=openModal(assignModal)>Assign</button>
    <!--<button class="btn btn-dark ml-4 px-4  mx-3"-->
            <!--(click)=taskStart()-->
            <!--[disabled]="status !== 1 ||(!isAssigneeAndReporter())">-->
      <!--Start-->
    <!--</button>-->
    <!--<button class="btn btn-dark ml-4 px-4  mx-3"-->
            <!--(click)="taskResolve()"-->
            <!--[disabled]="status!==2 || (!isAssigneeAndReporter())">-->
      <!--Resolve-->
    <!--</button>-->
    <!--<button class="btn btn-dark ml-4 px-4  mx-3"-->
            <!--(click)="(taskReadyForTest() && openModal(assignModal))"-->
            <!--[disabled]="status!==3 || (!isAssigneeAndReporter())" >-->
      <!--Ready for test-->
    <!--</button>-->
    <!--<button class="btn btn-dark ml-4 px-4  mx-3"-->
            <!--(click)="taskStart()"-->
            <!--[disabled]="status!==4 || !(isAssigneeAndReporter()) || isDev()" >-->
      <!--ReOpen-->
    <!--</button>-->
    <!--<button class="btn btn-dark ml-4 px-4  mx-3"-->
            <!--(click)="(taskClose())"-->
            <!--[disabled]="status!==4 || (!isAssigneeAndReporter()) || isDev()" >-->
      <!--Close-->
    <!--</button>-->
    <div *ngFor="let s of listStatus">
      <button class="btn btn-dark ml-4 px-4  mx-3 my-1" [disabled]="(status != s.idStatus) || (s.idStatus == listStatus.length)" (click)="changeStatus(s.idStatus)">{{s.name}}</button>
    </div>
  </div>
</div>

<ng-template #edit>
  <app-edit [task]="task" [activeRef]="activeRef"></app-edit>
</ng-template>

<ng-template #assignModal>
  <app-assign [task]="task" [activeRef]="activeRef"></app-assign>
</ng-template>
