<div *ngIf="tasks">
<table class = "table">
  <thead class = "thead-dark">
  <tr>
    <th class="cursorPointer" (click)="sortByProject()">Project
      <div class="btn cursorPointer text-secondary" *ngIf="sortName === 'project'" >
        <p *ngIf="direction === 'ASC'">&darr;</p>
        <p *ngIf="direction === 'DESC'">&uarr;</p>
      </div>
    </th>
    <th class="cursorPointer" (click)="sortByTask()">Task
      <div class="btn cursorPointer text-secondary" *ngIf="sortName === 'idTask'" >
        <p *ngIf="direction === 'ASC'">&darr;</p>
        <p *ngIf="direction === 'DESC'">&uarr;</p>
      </div>
    </th>
    <th class="cursorPointer" (click)="sortByPriority()">Priority
      <div class="btn cursorPointer text-secondary" *ngIf="sortName === 'priority'" >
        <p *ngIf="direction === 'ASC'">&darr;</p>
        <p *ngIf="direction === 'DESC'">&uarr;</p>
      </div>
    </th>
    <th class="cursorPointer" (click)="sortByStatus()">Status
      <div class="btn cursorPointer text-secondary" *ngIf="sortName === 'status'" >
        <p *ngIf="direction === 'ASC'">&darr;</p>
        <p *ngIf="direction === 'DESC'">&uarr;</p>
      </div>
    </th>
    <th class="cursorPointer" (click)="sortByCreated()">Created
      <div class="btn cursorPointer text-secondary" *ngIf="sortName === 'createDate'" >
        <p *ngIf="direction === 'ASC'">&darr;</p>
        <p *ngIf="direction === 'DESC'">&uarr;</p>
      </div>
    </th>
    <th>Update</th>
    <th class="cursorPointer" (click)="sortByDueData()">Due Data
      <div class="btn cursorPointer text-secondary" *ngIf="sortName === 'dueData'" >
        <p *ngIf="direction === 'ASC'">&darr;</p>
        <p *ngIf="direction === 'DESC'">&uarr;</p>
      </div>
    </th>
    <th class="cursorPointer" (click)="sortByEstimation()">Estmation
      <div class="btn cursorPointer text-secondary" *ngIf="sortName === 'estimation'" >
        <p *ngIf="direction === 'ASC'">&darr;</p>
        <p *ngIf="direction === 'DESC'">&uarr;</p>
      </div>
    </th>
    <th class="cursorPointer" (click)="sortByAssignee()">Assignee
      <div class="btn cursorPointer text-secondary" *ngIf="sortName === 'assigne'" >
        <p *ngIf="direction === 'ASC'">&darr;</p>
        <p *ngIf="direction === 'DESC'">&uarr;</p>
      </div>
    </th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let t of tasks" role="row">
    <td>{{t.project.nameProject}}</td>
    <td>{{t.idTask}}</td>
    <td>{{t.priority.namePriority}}</td>
    <td>{{t.status.name}}</td>
    <td>{{t.createDate | date}}</td>
    <td>{{t.updateDate | date}}</td>
    <td>{{t.dueData | date}}</td>
    <td>{{t.estimation}}</td>
    <td>{{t.assigne.firstName}} {{t.assigne.secondName}}</td>
    <td>{{t.description}}</td>
    <td><a routerLink="/project/{{t.idTask}}" align="center">edit</a></td>
  </tr>
  </tbody>
</table>
  <ul class="pagination">
    <li class="page-item" *ngFor="let page of allPages">
      <button class="page-link" [disabled]="page === ourPage" (click)="loadTasks(page)">{{page}}</button>
    </li>
  </ul>

</div>
