<div *ngIf="tasks">
<table class = "table">
  <thead class = "thead-dark">
  <tr>
    <th>Project
      <div class="btn btn-secondary" *ngIf="sortName === 'project'" (click)="sortByProject()">
        <p *ngIf="direction === 'ASC'">&darr;</p>
        <p *ngIf="direction === 'DESC'">&uarr;</p>
      </div>
    </th>
    <th>Task<div class="btn btn-secondary" (click)="sortByTask()">^</div></th>
    <th>Priority<div class="btn btn-secondary" (click)="sortByPriority()">^</div></th>
    <th>Status<div class="btn btn-secondary" (click)="sortByStatus()">^</div></th>
    <th>Created<div class="btn btn-secondary" (click)="sortByCreated()">^</div></th>
    <th>Update</th>
    <th>Due Data</th>
    <th>Estmation<div class="btn btn-secondary" (click)="sortByEstimation()">^</div></th>
    <th>Assignee<div class="btn btn-secondary" (click)="sortByAssignee()">^</div></th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let t of tasks" role="row">
    <td>{{t.project.nameProject}}</td>
    <td>{{t.idTask}}</td>
    <td>{{t.priority.namePriority}}</td>
    <td>{{t.status.name}}</td>
    <td>{{t.createDate}}</td>
    <td>{{t.updateDate}}</td>
    <td>{{t.dueData}}</td>
    <td>{{t.estimation}}</td>
    <td>{{t.assigne.firstName}} {{t.assigne.secondName}}</td>
    <td>{{t.description}}</td>
    <td><a routerLink="/project/{{t.idTask}}" align="center">edit</a></td>
  </tr>
  </tbody>
</table>
  <ul class="pagination">
    <li class="page-item" *ngFor="let page of allPages">
      <button class="page-link" [disabled]="page === ourPage" (click)="loadTasks(page)">{{page}}</button>
    </li>
  </ul>

</div>
