
<div class = "container">
  <div class = "row n-b py-2">
    <div class = "col-md-6">
      <button type="button" class="btn btn-primary my-2 mx-3" routerLink="/">Home</button>
      <button type="button" class="btn btn-dark my-2 mx-3" (click)=openNProject()>New Project</button>
      <button type="button" class="btn btn-dark my-2 mx-3" (click)=openNTask()>New Task</button>
      <button type="button" class="btn btn-dark my-2 mx-3" (click)=openNUser()>New User</button>
    </div>
    <div class = "col-md-4">
      <form class="card p-2">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">Search</button>
        </div>
      </div>
    </form>
    </div>
    <div class = "col-md-2 my-2">
      <button type="button" routerLink="/login" class="btn btn-secondary">Login in</button>
    </div>
  </div>

  <br><br>
  <table class = "table">
    <thead class = "thead-dark">
    <tr>
      <th>Project Code</th>
      <th>Task</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Created</th>
      <th>Update</th>
      <th>Due Data</th>
      <th>Estmation</th>
      <th>Assignee</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">what</th>
      <td class="b-1">task</td>
      <td>pri</td>
      <td>sta</td>
      <td>asd</td>
      <td>asd</td>
      <td>asd</td>
      <td>asd</td>
      <td>asd</td>
      <td>asd</td>
      <td><a routerLink="/project" align="center">edit</a></td>
    </tr>
    <tr>
      <th scope="row">what</th>
      <td class="b-1">task</td>
      <td>pri</td>
      <td>sta</td>
      <td>asd</td>
      <td>asd</td>
      <td>asd</td>
      <td>asd</td>
      <td>asd</td>
      <td>asd</td>
      <td><a routerLink="/project" align="center">edit</a></td>
    </tr>
    </tbody>
  </table>
</div>
