<div>
  <div class="bg-secondary text-white pl-3"><h2>Description:</h2></div>
  <div class = "row my-4">
    <div class = "col-md-6 form-group">
      <textarea class="form-control h-100" disabled="disabled">{{task.description}}</textarea>
    </div>
    <div class = "col-md-6">
      <div class = "row">tab
        <div class = "col-md-2"><p align = "right">Created</p></div>
        <div class = "col-md-4">
          <form name="test" method="post">
            <input type="text" size="80" class="form-control" value='{{task.createDate}}' disabled="disabled">
          </form>
        </div>
      </div>
      <br>
      <div class = "row">
        <div class = "col-md-2"><p align = "right">Updated</p></div>
        <div class = "col-md-4">
          <form name="test" method="post">
            <input type="text" size="80" class="form-control" value='{{task.updateDate}}' disabled="disabled">
          </form>
        </div>
      </div>
      <br>
      <div class = "row">
        <div class = "col-md-2"><p align = "right">Resolved</p></div>
        <div class = "col-md-4">
          <form name="test" method="post">
            <input type="text" size="80" class="form-control" disabled="disabled" value='{{task.resolvedDate}}' >
          </form>
        </div>
      </div>
      <br>
      <div class = "row">
        <div class = "col-md-2"><p align = "right">Closed</p></div>
        <div class = "col-md-4">
          <form name="test" method="post">
            <input type="text" size="80" class="form-control" disabled="disabled" value='{{task.closedDate}}' >
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-edit *ngIf="is"></app-edit>
