<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header bg-dark text-white text-center">
      <h2>Sign in</h2>
    </div>
    <div class="card-body">
      <form name="loginFormGroup" (ngSubmit)="onLoginSubmit()" [formGroup]="loginFormGroup">
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Login"
                 formControlName="login">
        </div>
        <div class="alert alert-danger" *ngIf="loginFormGroup.controls['login'].invalid && loginFormGroup.controls['login'].touched">
          <div *ngIf="loginFormGroup.controls['login'].errors['required']">
            Empty login
          </div>
          <div *ngIf="loginFormGroup.controls['login'].errors['minlength'] || loginFormGroup.controls['login'].errors['maxlength']">
            Login must be from 4 to 30 characters
          </div>
        </div>
        <div class="form-group">
          <input type="password"
                 class="form-control"
                 placeholder="Password"
                 formControlName="password">
        </div>
        <div class="alert alert-danger" *ngIf="loginFormGroup.controls['password'].invalid && loginFormGroup.controls['password'].touched">
          <div *ngIf="loginFormGroup.controls['password'].errors['required']">
            Empty password
          </div>
          <div *ngIf="loginFormGroup.controls['password'].errors['minlength'] || loginFormGroup.controls['password'].errors['maxlength']">
            Password must be from 4 to 30 characters
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="enableSign">
          Wrong login or password
        </div>
          <button type="submit"
                  class="btn mx-1 px-4 btn-dark login-btn float-right">
            Login
          </button>
      </form>
    </div>
    </div>
  </div>
</div>

