
<div class="modal-header bg-dark text-white">
  <h4 class="modal-title" id="modal-basic-title">Assign</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeRef.hide('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label class="col-form-label">User:</label>
      <input type="text" class="form-control">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark text-white" (click)=assignNewUser()>Assign</button>
</div>

<!--<ng-template #templateSearch let-r="result" let-t="term">-->
  <!--{{r.firstName}}-->
<!--</ng-template>-->
