
<div class="modal-header bg-dark text-white">
  <h4 class="modal-title" id="modal-basic-title">Assign Role</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeRef.hide('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label class="col-form-label">First name:</label>
      <input type="text" class="form-control" [ngModel]="newUser.firstName" (ngModelChange)="newUser.firstName = $event" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label class="col-form-label">Second name:</label>
      <input type="text" class="form-control" [ngModel]="newUser.secondName" (ngModelChange)="newUser.secondName = $event" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label class="col-form-label">Login:</label>
      <input type="text" class="form-control" [ngModel]="newUser.sign.login" (ngModelChange)="newUser.sign.login = $event" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label class="col-form-label">Password:</label>
      <input type="text" class="form-control" [ngModel]="newUser.sign.password" (ngModelChange)="newUser.sign.password = $event" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <select class="custom-select d-block" id="role" required="" [ngModel]="newUser.role.idRole" (ngModelChange)="newUser.role.idRole = $event" [ngModelOptions]="{standalone: true}">
        <option value="2">Project manager</option>
        <option value="3">Developer</option>
        <option value="4">Tester</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark text-white" (click)="_createNewUser()">Create</button>
</div>

