
<div class="modal-header bg-dark text-white">
  <h4 class="modal-title" id="modal-basic-title">Create Task</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeRef.hide('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label class="col-form-label">Project code:</label>
      <input type="text" class="form-control" [ngModel]="newTask.idTask" (ngModelChange)="newTask.idTask = $event" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label class="col-form-label">Description</label>
      <input type="text" class="form-control" [ngModel]="newTask.description" (ngModelChange)="newTask.description = $event" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label class="col-form-label">Priority</label>
      <div class="form-group">
        <select class="custom-select d-block" id="role" required="" [ngModel]="newTask.priority.id" (ngModelChange)="newTask.priority.id = $event" [ngModelOptions]="{standalone: true}">
          <option value="1">blocker</option>
          <option value="2">critical</option>
          <option value="3">major</option>
          <option value="4">normal</option>
          <option value="5">minor</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label">Due Data</label>
      <div class="input-group">
        <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">Change</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label">Estmation</label>
      <input type="text" class="form-control" [ngModel]="newTask.estimation" (ngModelChange)="newTask.estimation = $event" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label class="col-form-label">Assigne</label>
      <input type="text" class="form-control" [ngModel]="newTask.assigne.id" (ngModelChange)="newTask.assigne.id = $event" [ngModelOptions]="{standalone: true}">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark text-white" (click)=_createNewTask()>Create</button>
</div>
