
<div class="modal-header bg-dark text-white">
  <h4 class="modal-title" id="modal-basic-title">Create Task</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeRef.hide('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="taskForm" (ngSubmit)="_createNewTask()">
    <div class="form-group">
      <label class="col-form-label">Project name:</label>
      <input type="text" class="form-control"
             placeholder="Project"
             formControlName="project"
             [ngbTypeahead]="searchProject"
             [resultTemplate]="templateProject"
             [inputFormatter]="formatterProject">
    </div>
    <div class="form-group">
      <label class="col-form-label">Description</label>
      <input type="text" class="form-control" formControlName="description" placeholder="Description">
    </div>
    <div class="form-group">
      <label class="col-form-label">Priority</label>
      <div class="form-group">
        <select class="custom-select d-block" id="role" required="" formControlName="priority">
          <option value="1">blocker</option>
          <option value="2">critical</option>
          <option value="3">major</option>
          <option value="4">normal</option>
          <option value="5">minor</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label">Due Data</label>
      <div class="input-group">
        <input class="form-control"
               placeholder="yyyy-mm-dd"
               name="dp"
               [displayMonths]="2"
               [navigation]=true
               [outsideDays]=true
               [showWeekNumbers]=true
               [startDate]="today"
               [minDate]="{year: today.getFullYear(), month: today.getMonth()+1, day: today.getDate()}"
               [markDisabled]="isDisabled"
               formControlName="dueDate"
               ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn-primary calendar" (click)="d.toggle()" type="button">Choose</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label">Estmation</label>
      <input type="text" class="form-control" formControlName="estimation" placeholder="Estimation">
    </div>
    <div class="form-group">
      <label class="col-form-label">Assignee</label>
      <input type="text" class="form-control" formControlName="assigned"
             placeholder="Assignee name"
             [ngbTypeahead]="searchUser"
             [resultTemplate]="templateUser"
             [inputFormatter]="formatterUser">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark text-white"
          [disabled]="taskForm.invalid"
          (click)=_createNewTask()>
    Create
  </button>
</div>

<ng-template #templateUser let-r="result" let-t="term">
  {{r.firstName}} {{r.secondName}}
</ng-template>

<ng-template #templateProject let-r="result" let-t="term">
  {{r.nameProject}}
</ng-template>
