
<div class = "container-fluid">
  <h1>Project</h1>
  <div>
    <div class="bg-secondary text-white"><h2>Description</h2></div>
    <br/>
    <div>
      <button class="btn btn-dark ml-2 px-5  mx-3">Edit</button>
      <button class="btn btn-dark ml-2 px-5  mx-3">Assign</button>
      <button class="btn btn-dark ml-2 px-5  mx-3">Start</button>
      <button class="btn btn-dark ml-2 px-5  mx-3">Resolve</button>
      <button class="btn btn-dark ml-2 px-5  mx-3">Ready for test</button>
      <button class="btn btn-dark ml-2 px-5  mx-3">ReOpen</button>
      <button class="btn btn-dark ml-2 px-5  mx-3">Close</button>
    </div>
  </div>
  <br/>
  <div>
    <div class="bg-secondary text-white"><h2>Details</h2></div>
    <div class = "row my-4">
      <div class = "col-md-6">
        <div class = "row">
          <div class = "col-md-2"><p align = "right">Priority</p></div>
          <div class = "col-md-4">
              <input type="text" size="80" class="form-control">
          </div>
        </div>
        <br>
        <div class = "row">
          <div class = "col-md-2"><p align = "right">Status</p></div>
          <div class = "col-md-4">
              <input type="text" size="80" class="form-control">
          </div>
        </div>
      </div>
      <div class = "col-md-6">
        <div class = "row">
          <div class = "col-md-2"><p align = "right">Assignee</p></div>
          <div class = "col-md-4">
              <input type="text" size="80" class="form-control">
          </div>
        </div>
        <br>
        <div class = "row">
          <div class = "col-md-2"><p align = "right">Reporter</p></div>
          <div class = "col-md-4">
              <input type="text" size="80" class="form-control">
          </div>
        </div>
        <br>
        <div class = "row">
          <div class = "col-md-2"><p align = "right">Estmination</p></div>
          <div class = "col-md-4">
              <input type="text" size="80" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="bg-secondary text-white"><h2>Description</h2></div>
    <div class = "row my-4">
      <div class = "col-md-6 form-group pi-100">
        <textarea class="form-control h-100" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum ipsa recusandae sint. Accusamus consequuntur facilis</textarea>
      </div>
      <div class = "col-md-6">
        <div class = "row">
          <div class = "col-md-2"><p align = "right">Created</p></div>
          <div class = "col-md-4">
            <form name="test" method="post">
              <input type="text" size="80" class="form-control">
            </form>
          </div>
        </div>
        <br>
        <div class = "row">
          <div class = "col-md-2"><p align = "right">Updated</p></div>
          <div class = "col-md-4">
            <form name="test" method="post">
              <input type="text" size="80" class="form-control">
            </form>
          </div>
        </div>
        <br>
        <div class = "row">
          <div class = "col-md-2"><p align = "right">Resolved</p></div>
          <div class = "col-md-4">
            <form name="test" method="post">
              <input type="text" size="80" class="form-control">
            </form>
          </div>
        </div>
        <br>
        <div class = "row">
          <div class = "col-md-2"><p align = "right">Closed</p></div>
          <div class = "col-md-4">
            <form name="test" method="post">
              <input type="text" size="80" class="form-control">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="bg-secondary text-white"><h2>Description</h2></div>
    <div class = "form-group pi-100 my-4">
      <textarea class="form-control h-100" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum ipsa recusandae sint. Accusamus consequuntur facilis</textarea>
    </div>
  </div>
  <div>
    <div class="bg-secondary text-white"><h2>Description</h2></div>
    <form>
    <div class="row my-4">
      <div class = "col-md-8 pi-100">
        <textarea class="form-control h-100 d-block" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum ipsa recusandae sint. Accusamus consequuntur facilis</textarea>
      </div>
      <div class="col-md-4">
        <button class="btn btn-dark d-block">Add comment</button>
      </div>
    </div>
    </form>
  </div>
</div>
