<div>
  <div class="bg-secondary text-white pl-3"><h2>Comments</h2></div>
  <form>
    <div class="row my-4">
      <div class = "col-md-8">
        <textarea class="form-control h-100 d-block" disabled="disabled">{{task.comments}}</textarea>
      </div>
      <div class="col-md-4">
        <button class="btn btn-dark d-block comm" (click)="openModal(comment)">Add comment</button>
      </div>
    </div>
  </form>
</div>

<ng-template #comment>
  <app-new-comment [task]="task"></app-new-comment>
</ng-template>
