
<div class = "container">
  <div class = "row n-b py-2">
    <div class = "col-md-6">
      <app-but-new></app-but-new>
    </div>
    <div class = "col-md-6 my-2 text-right">
      <button type="button" routerLink="/login" class="btn btn-secondary mx-4">Login in</button>
    </div>
  </div>
  <div class="ml-5 my-4"><h1>Project</h1></div>
  <app-des-but></app-des-but>
  <app-details></app-details>
  <app-description></app-description>
  <app-attachment></app-attachment>
  <app-comment></app-comment>
</div>
