
<div class = "container">
  <div class = "row n-b py-2">
    <div class = "col-md-6">
      <app-but-new></app-but-new>
    </div>
    <div class = "col-md-6 my-2 text-right">
      <button type="button" routerLink="/login" class="btn btn-secondary mx-4">Login in</button>
    </div>
  </div>
  <div class="ml-5 my-4"><h1>Task {{task.project.nameProject}}-{{task.idTask}}</h1></div>

  <app-des-but [task]="task"></app-des-but>
  <app-details [task]="task"></app-details>
  <app-description [task]="task"></app-description>
  <app-attachment [task]="task"></app-attachment>
  <app-comment [task]="task"></app-comment>
</div>
