
.but{
  margin-left: 20px;
  margin-right: 20px;
}
.txt-box{
  margin-left: 50px;
  width: 30px;

}
.none-border{
  border: 0px;
}
.pi-100{
  height: 150px;
}
.comm{
  margin-top: 100px;
}
.n-b{
  border: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
